@model CuppaComfort.Models.Feedback

<br />
<form asp-action="FeedbackCreate" method="post">
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" required></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control" type="number" min="1" max="5" required>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>
